
<h1 class="text-center my-3">Titre de l'article</h1>

<img src="{{ asset ('images/carousselle.jpg') }}" class="rounded mx-auto d-block h-75 w-50 text-center my-3" alt="...">




<article class="container my-3">
    <p class="form-control">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint
        deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint
        deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
    </p>
    <div  class="container my-3">
    <small>    
        <cite class="mb-1 my-2 ">Date de publication:</cite>
        <cite class="mb-1 my-2 ">Publié par:</cite>
    </small>
    </div>
</article>

