{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Mot de passe oublié ?</h1>

                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            Saisissez votre E-mail.
                        </small>
                    </div>
            
                    <button class="btn btn-warning my-3">Envoyer</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </section>

{% endblock %}
