{% extends 'base.html.twig' %}

{% block title %}Vidéo{% endblock %}

{% block body %}

<h1 class="text-center my-3">Titre de la video</h1>

<div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
    <iframe src="https://www.youtube.com/embed/2b9txcAt4e0" style="width:75%" height="400"
        allowfullscreen></iframe>
</div>




<article class="container my-3">
    <p class="form-control">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint
        deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint
        deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at sint deserunt possimus,
        aliquid nemo harum! Aperiam consequatur cum deserunt iste praesentium asperiores veritatis minima debitis
        recusandae ut,est corporis.
    </p>
    <div  class="container my-3">
    <small>    
        <cite class="mb-1 my-2 ">Date de publication:</cite>
        <cite class="mb-1 my-2 ">Publié par:</cite>
    </small>
    </div>
</article>


{% endblock %}
